@{
	Layout = "/Views/Layouts/_ManagerTable.cshtml";
	ViewData["Title"] = "Setting Page";
	ViewData["Page"] = "Liên kết";
}
@model SettingViewModel
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<!--Card-->
				<div class="card">
					<div class="card-header">
						<a asp-controller="Setting" asp-action="Create" class="btn btn-primary btn-sm float-right">
							<i class="bi bi-plus-circle"></i>
							Create New Slider
						</a>
					</div>
					@*             <div class="card-header">
					<h3 class="card-title">DataTable with default features</h3>
					</div>*@
					<!-- /.card-header -->
					<div class="card-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>#</th>
									
									<th>
										ConfigKey
									</th>
									<th>
										ConfigValue
									</th>

									<th style="width: 20%">
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var obj in @Model.Settings)
								{
									<tr>
										<td>
											#@obj.Id
										</td>
										<td>
											@obj.ConfigKey
										</td>
										
										<td>
											@obj.ConfigValue
										</td>
										<td class="project-actions text-right">
											<div class="w-75 btn-group" role="group">
												<a asp-controller="Setting" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-info btn-sm">
													<i class="fas fa-pencil-alt">
													</i>
													Edit
												</a>
												<a asp-controller="Setting" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger btn-sm action_delete">
													<i class="fas fa-trash">
													</i>
													Delete
												</a>
											</div>
										</td>
									</tr>
								}
							</tbody>
							<tfoot>
								<tr>
									<th>#</th>
									
									<th>
										ConfigKey
									</th>
									<th>
										ConfigValue
									</th>
									<th></th>
								</tr>
							</tfoot>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
